html {
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(74,74,74);
  margin-left: -8px;
}

main {
  top: 4rem;
}

a {
  text-decoration: none;
  color: rgb(74,74,74);
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: lighter;
}

.content {
  display: flex;
  width: 100%;
  right: 0;
}

header {
  /*position: fixed;*/
  background-color: white;
  top: 0;
  height: 4rem;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: white;
  border: none;
}
/*header .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

header .logo img {
  height: 3.25rem;
}

header .logo span {
  font-size: 1.5rem;
}

header nav {
  padding-right: 1.5rem;
}

header nav a {
  color: black;
  padding: 0.5rem;
}*/

.banner {
  background-color: rgb(216,216,216);
  align-items: center;
  position: relative;
  width: auto;
}

.banner .image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner img {
  width: 100%;
}

.banner .launcharea {
  width: 40%;
}

.banner .launch {
  display: flex;
  flex-flow: column wrap;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.banner .launch button {
  padding: 0.5rem;
  color: white;
  background-color: rgb(74,74,74);
  border: none;
  font-size: 1.125rem;
}

.lr {
  background-color: white;
  margin: 2rem 0;
  position: relative;
}

.left {
  width: 60%;
  margin: 0rem 1.5rem;
}

.left img {
  width: 100%;
}

.left article div .small {
  font-size: 0.8rem;
}

.right {
  width: 40%;
  margin-left: 0.5rem;
}

.right article {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.right article div {
  margin-left: 1rem;
}

.right article img {
  width: 35%;
  height: auto;
}

.right article a {
  color: rgb(81, 148, 227);
}

.lr .right {
  border-left: solid 1px rgb(216,216,216);
}

.grid {
  background-color: rgb(216,216,216);
  flex-flow: column wrap;
  align-items: center;

}

.grid h2 {
  margin-top: 2rem;
}

.grid .boxes {
  margin: 32px 72px 32px 56px;
}

.grid .boxes .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.grid .boxes .row .box {
  display: inline-flex;
  background-color: white;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
  margin-left: 2rem;
}

.grid .boxes .row .box img {
  height: 50%;
  width: 100%;
}

.grid .boxes .row .box .text {
  display: inline-flex;
  flex-flow: column wrap;
  flex-shrink: 1;
}

.grid .boxes .row .box .text h3, .grid .boxes .row .box .text h4, .grid .boxes .row .box .text p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid .boxes .row .box .text h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.grid .boxes .row .box .text h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.grid .boxes .row .box .text p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.thesis {
  flex-flow: column wrap;
  align-items: center;
}

.thesis h2 {
  margin-top: 2rem;
}

.thesis .row {
  display: flex;
  flex-wrap: column wrap;
  margin: 2rem 0 2rem 1.5rem;
}

#fisma, #guest {
  background-color: rgb(216,216,216)
}

footer {
  justify-content: space-between;
  font-size: 0.8rem;
  border-top: solid 1px rgb(216,216,216);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer span {
  margin-left: 1.5rem;
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
  .desktop {
    display: none;
  }
  body {
    width: auto;
  }
  header {
    width: auto;
  }

  header nav {
    width: auto;
    padding: 0;
  }

  footer {
    width: auto;
  }

  .banner {
    flex-direction: column;
    align-items: baseline;
  }
  .banner .image {
    width: auto;
    margin: 0;
  }

  .banner .launcharea {
    width: auto;
  }
  .banner .launcharea .launch {
    margin: 4rem 2rem;
    width: auto;
    overflow: hidden;
  }
  .banner .launcharea .launch h1 {
    margin: 0;
  }

  .banner .launcharea .launch button {
    width: auto;
  }

  .content.lr .left {
    display: none;
  }

  .content.lr .right {
    width: auto;
  }

  .lr .right {
    border: none;
  }

  .right article {
    flex-direction: column;
    align-items: flex-start;

  }

  #guest {
    background-color: white;
  }
  .right article img {
    width: 100%;
  }

  .right article div {
    justify-content: flex-start;
  }

  .grid {
    background-color: rgb(245, 244, 245);
  }

  .grid .boxes {
    margin: 1rem;
  }

  .grid .boxes button {
    width: 100%;
    margin-bottom: 0.5rem;
    border: none;
    text-align: left;
    padding-left: 1rem;
  }

  .thesis h2 {
    margin-bottom: 1rem;
  }
  .thesis .row {
    margin: 0;
  }

  .thesis .row .left {
    width: auto;
  }

  footer {
    border: none;
  }
}
